.rectangle {
  width: 100vw;
  height: 80vh;
  background: radial-gradient(51.3% 61.08% at 71.18% 41.57%, #FFD2B2 69%, #FBB786 100%);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 0% 100%);
}

.catModel {
  width: 450px;
  height: 600px;
  position: absolute;
  left: 65%;
  top: 2vh;
  user-select: none; 
  z-index: -1;
}

.pawPrints {
  width: 1000px;
  height: 1000px;
  position: absolute;
  margin-top: 32vh;
  top: 2vh;
  user-select: none; 
  z-index: -1;
}

.quote {
  width: 420px;
  height: 160px;
  color: #28282B;
  font-family: Inter;
  font-size: 25px;
  margin-top: 15vh;
  margin-left: 20vh;
  font-weight: 900;
  line-height: normal;
}

.bar {
  width: 100px;
  height: 70px;
  margin-top: 50vh;
  background: radial-gradient(51.3% 61.08% at 71.18% 41.57%, #FFD2B2 69%, #FBB786 100%);
  z-index: -1;
}