.navbar {
  display: flex;
  justify-content: space-around; /* Distribute space evenly around items */
  align-items: center;
  width: 100%;
  height: 5%;
  flex-shrink: 0;
  background: #D48788;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.66));
  color: white;
}

.logo a {
  color: #FFEAEA;
  font-family: "Poppins";
  font-size: 48px;
  font-style: italic;
  font-weight: 1000;
  line-height: normal;
  text-decoration: none;
}

.navLinks .home a {
  font-weight: 500;
}

.navLinks {
  list-style: none;
  display: flex;
  color: #FFEAEA;
  font-family: "Poppins";
  line-height: normal;
  gap: 15vh; /* Adjust this gap as needed */
  align-items: center; /* Ensure items and dividers are vertically centered */
  font-weight: 300;
}

.navLinks li {
  position: relative;
}

.navLinks li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -7.5vh; /* Half of the gap value to center the divider */
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 30px;
  background: white;
}

.navLinks li a {
  color: white;
  font-size: 36px;
  text-decoration: none;
}
